<% if any_collection %>
  <%= render 'shared/pagy/nav', pagy: %>
  <br>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <div class="min-w-full divide-y divide-gray-200 table">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <%= render 'shared/pagy/nav', pagy: %>
<% else %>
  <br>
  <p><%= t('alert.none', class_name: t(class_name, scope: 'activerecord.models').pluralize.downcase) %></p>
  <br>
<% end %>
