<div class="flex justify-center items-center h-12">
  <div class="w-1/2">
    <div class="flex justify-center items-center">
      <%= svg_tag 'icons/spinner', size: '5xl', svg_class: 'h-1/2 text-sm fill-neutral-200 animate-spin' %>
    </div>
  </div>
</div>
